* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

.slider {
    margin: 20px auto;
    max-width: 400px;
}

.slider__button-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.slider__title {
    margin-bottom: 2px;
}

.slider_button {
    background: none;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 4px;
    padding: 8px 12px;
}

.slider_button:hover {
    background: #eee;
    cursor: pointer;
}

.slider__slide-list {
    list-style: none;
}

.slider__photo {
    max-width: 100%;
}